<div class = "ue">
  <div class = "name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>

  <div class = "chatbottom">
      <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class = "shita">
  <% current_user.rooms.each do |room| %>
    <div class = "shita">
      <div class = "chatroom">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>

