<div class = "ue">
  <div class = "name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>

  <div class = "chatbottom">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class = "shita">
  <div class = "shita">
    <div class = "chatroom">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class = "shita">
    <div class = "chatroom">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>

